@font-face {
    font-family: 'AkkuratStd-Bold';
    src: url('../fonts/AkkuratStd-Bold.otf');
}

@font-face {
    font-family: 'AkkuratStd-Regular';
    src: url('../fonts/AkkuratStd-Regular.otf');
}

body, html {
    margin: 0;
    padding-top: 0;
    letter-spacing: 0.5px;
    pointer-events: none;
    font-family: 'AkkuratStd-Bold', sans-serif;
    overflow: hidden;
}

#svg {
    display: block;
    margin: 0 auto;
    width: 100vw;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

tspan {
    font-weight: 500;
}

.area.mask {
    fill: white;
}
.area {
    fill: transparent;
}

.area {
    -webkit-transition : -webkit-filter 500ms linear;
    fill: grey;
    fill: white;
    stroke: none !important;
    stroke-width: 1.5 !important;
    fill-opacity: 0.2;
    border-radius: 10px;
    z-index: 10;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.filters {
    fill-opacity: 1;
}

.area:hover {
    cursor: pointer !important;
    /* stroke: lightgrey !important; */
    /* stroke-width: 3 !important; */
    /* fill-opacity: 0.3 */
}

.area.active {
    fill-opacity: 0.55;
    stroke: darkslategrey;
    fill: grey;
    /* stroke: grey; */
    opacity: 1;
}

.hidden {
    opacity: 0;
}.hidden {
    opacity: 0;
}

#volumeContainer {
    display: inline;
    z-index: 10;
    position: relative;
    /* width: 300px; */
    /* left: 80px; */
}

#volumeContainer i {
    font-size: 25px;
    color: white;
    stroke: black;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

#volumeContainer2 {
    position: relative;
    display: inline;
}

#volumeContainer2 i {
    font-size: 2.5em;
    padding: 10px;
    /* stroke: black;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black; */
    -webkit-filter: drop-shadow( -2px -2px 2px grey );
            filter: drop-shadow( -2px -2px 2px grey );
}

#volumeContainer, #volumeContainer2 input {
    background-color: transparent;
}

foreignObject {
    overflow: visible;
}

/* html version */
/* #volumeSlider {
    position: relative;
    top: 5px;
    width: 14vw;
    max-width: 100px;
    min-width: 30px;
    height: 30px;
} */

/* foreignobject version */
#volumeSlider {
    width: 30vw;
    max-width: 200px;
    min-width: 80px;
    height: 100px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #volumeContainer2 i {
        font-size: 100px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #volumeContainer2 i {
        font-size: 80px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #volumeContainer2 i {
        font-size: 70px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #volumeContainer2 i {
        font-size: 62px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #volumeContainer2 i {
        font-size: 56px;
    }
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

foreignObject {
    font-size: 22px;
    stroke: black;
}

foreignObject p {
    color: black;
}

foreignObject i {
    stroke: black;
}

.fa.fa-volume-up, .fa.fa-volume-down {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
 }

#creditsImage:hover, #fsImage {
    cursor: pointer;
}

.shadow {
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 );
}

.loader {
    color: black;
    position: absolute;
    z-index: 1000;
    width: 100px;
    height: 100px;
    top: 200px;
}

.loaderText {
    position: absolute;
    font-size: 1rem;
    top: 120px;
}

.fadein {
    opacity: 1;
    transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
}

svg image {
    opacity: 1;
    transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
}

#info:hover {
    cursor: pointer;
}

#meter {
    margin: 10px;
}

#fobj {
    transform-origin: center;
    /* transform: scale(1);
    transform: translateX(100px) */
}

*:focus {
    outline: none !important;
}

.area, #credits, #creditRect {
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html:-moz-full-screen {
  background-color: white;
}

html:-webkit-full-screen {
  background-color: white;
}

html:fullscreen {
  background-color: white;
}

/* *:focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  outline-color: transparent !important;
} */

#creditsText img {
    width: 60%;
}

.area.mask {
    fill: white;
}

.filters {
    fill-opacity: 1;
}
